body{
    background-image: url("345.jpg");

}
nav {
    display: block;
    color: rgb(158, 16, 16);
}
.home{
    float: left;
    display: block;
color: rgb(13, 235, 243);
text-align: center;
padding: 14px 16px;
text-decoration: none;


}
  .CurrencyConverter{
    
    float: left;
    display: block;
color: rgb(13, 235, 243);
text-align: center;
padding: 14px 16px;
text-decoration: none;
    
  }
  .Contactinfo{
    float: left;
    display: block;
color: rgb(13, 235, 243);
text-align: center;
padding: 14px 16px;
text-decoration: none;

  }
#Cur{
    color: rgb(66, 155, 161);
}
body{
    background-image: url("123.jpg");

}
nav {
        
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(11, 102, 105);        
            
    }
    h3{
        color: rgb(13, 235, 243);
    }
    nav a:hover:not(.active) {
        background-color: black;
        }
        form{
            color: rgb(13, 235, 243);
        }
        